---
layout: page
title: Part II Projects
---


<p>These are some projects being run for Cambridge Computer Lab students by the ML@CL group.</p>
  
<div id="sectionnav">

  <label for="search-supervisors">Filter Supervisors:</label>
  <input type="search" name="filter-supervisors" id="search-supervisors" value />
    <label for="search-titles">Filter Titles:</label>
    <input type="search" name="filter-titles" id="search-titles" value />
</div>
{% assign projects = site.projects | reverse %}
{% for project in projects %}
{% if project.categories contains 'prtii' %}
{% include listproject.html %}
{% endif %}
{% endfor %}

{% include searchwidget_js.html %}
