{% if project.running %}
<div class="paper">
  <hr>
  <p class="title">{{ project.title }}</p>
  <p class="details">
    <span class="supervisors">
      <b>Supervisor:</b>&nbsp;&nbsp; {% assign lastone = project.supervisors | last %}{% for person in project.supervisors %}
      {% include listperson.html separator=','%}
      {% endfor %}      
    </span>
  </p>
  {% if project.contact %}
  <p><b>DSI Academic:</b>&nbsp;&nbsp;
    {% assign lastone = project.contact | last %}
    {% for person in project.contact %}
      {% include listperson.html separator=','%}
    {% endfor %}
  </p>
  {% endif %}  
</p>
<p>{{ project.abstract | markdownify }}</p>
<p class="links">
  [<a href="{{ site.url }}{{ site.baseurl }}{{ project.url }}">Project Page</a>]
</p>
</div>
{% endif %}
