<hr>
<div class="paper">
  <p class="title">{{ post.title }}</p>
  <p class="details">
    <span class="supervisors">
      <b>Supervisor:</b>&nbsp;&nbsp;{% for person in post.supervisors %}
      {% include person.html %}&nbsp;&nbsp;
      {% endfor %}      
    </span>
  </p>
  {% if post.contact %}
  <p><b>DSI Academic:</b>&nbsp;&nbsp;
    {% for person in post.contact %}
    {% include person.html %}&nbsp;&nbsp;
    {% endfor %}
  </p>
  {% endif %}  
</p>
<p>{{ post.abstract }}</p>
<p class="links">
  [<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Project Page</a>]
</p>
</div>
