<div class="paper">
  <h4 class="title">{{ post.title }}</h4>
  <p class="details">
    <span class="supervisors">
      <b>Supervisor:</b>&nbsp;&nbsp;{% for person in post.supervisors %}
      {% include person.html %}&nbsp;&nbsp;
      {% endfor %}      
    </span>
  </p>
  {% if post.contact %}
  <p><b>Contact:</b>&nbsp;&nbsp;
    {% for person in post.contact %}
    {% include person.html %}&nbsp;&nbsp;
    {% endfor %}
  </p>
  {% endif %}  
</p>
<p class="links">
  [<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Overview</a>]
</p>
</div>
